<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="header">
        <img src="static\images\spam_logo.jpg" alt="spam logo">
        <h1>Spam Classification</h1>
    </div>
    
    <form id="messageForm">
        <label for="message">Enter message:</label><br>
        <input type="text" id="message" name="message" required><br><br>
        <button type="submit">Submit</button>
    </form>
    <p id="result"></p>

    <script>
        document.getElementById('messageForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const message = document.getElementById('message').value;
            fetch('/predict', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ message: message })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('result').innerText = 'Prediction: ' + data.prediction;
            });
        });
    </script>
</body>
</html>
